<!-- Views/Shared/_Footer.cshtml -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            © @DateTime.Now.Year, made with ❤️ by CozyShop Team
        </div>
        <div>
            <a href="#" class="footer-link me-4">Chính sách</a>
            <a href="#" class="footer-link me-4">Hỗ trợ</a>
            <a href="#" class="footer-link">Liên hệ</a>
        </div>
    </div>
</footer>
