<!-- Views/Shared/_Navbar.cshtml -->
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <div class="navbar-nav align-items-center">
            <span class="navbar-text fw-semibold text-secondary" style="font-size: 1.1rem;">
                CozyShop - Shop with ease!
            </span>
        </div>

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="#" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online d-flex align-items-center justify-content-center" style="width: 40px; height: 40px; background: #6c757d; border-radius: 50%;">
                        <i class="bx bx-user text-white fs-4"></i>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" asp-controller="User" asp-action="UserProfile"><i class="bx bx-user bx-tada me-2"></i> <span>Profile</span></a></li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li><a class="dropdown-item" asp-action="Login" asp-controller="Authen" ><i class="bx bx-power-off me-2"></i> <span>Logout</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
