<!-- Views/Shared/_Sidebar.cshtml -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a asp-action="Home" asp-controller="Home" class="app-brand-link">
            <span class="app-brand-logo">
                <i class='bx bx-store-alt'></i>
            </span>
            <span class="app-brand-text demo menu-text fw-bolder">CozyShop</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <ul class="menu-inner py-1">
        <li class="menu-item menu-dropdown">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon bx bx-user"></i>
                <div>Users</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-action="UserList" asp-controller="User" class="menu-link">
                        <div>User List</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-action="CreateUser" asp-controller="User" class="menu-link">
                        <div>Add User</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item menu-dropdown">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon bx bx-category"></i>
                <div>Product management</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-action="CategoriesList" asp-controller="Category" class="menu-link">
                        <div>Category List</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-action="ProductList" asp-controller="Product" class="menu-link">
                        <div>Product List</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>