<!-- Views/Shared/_Sidebar.cshtml -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/" class="app-brand-link">
            <span class="app-brand-logo">
                <i class='bx bx-store-alt'></i>
            </span>
            <span class="app-brand-text demo menu-text fw-bolder">CozyShop</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <ul class="menu-inner py-1">
        <li class="menu-item active">
            <a href="/" class="menu-link">
                <i class="menu-icon bx bx-home-circle"></i>
                <div>Dashboard</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Products" class="menu-link">
                <i class="menu-icon bx bx-box"></i>
                <div>Sản phẩm</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Orders" class="menu-link">
                <i class="menu-icon bx bx-cart"></i>
                <div>Đơn hàng</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Users" class="menu-link">
                <i class="menu-icon bx bx-user"></i>
                <div>Người dùng</div>
            </a>
        </li>
    </ul>
</aside>
